# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized

<b> Objectives:
- Python
- Scala
- R
- SQL

> Some of the popular languages that Data Scientists use are:
> 1. Python
> 2. R
> 3. SQL

> Some of the commonly used libraries used by Data Scientists include:
> 1. Pandas
> 2. Numpy
> 3. PyTorch
> 4. Sickit-Learn
> 5. Matplotlib

|Data Science Tools|
|-----|
|Jupyter Notebooks|
|VS Code|
|RStudio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [14]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Zakaria R.